@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
body{
  font-family: 'Manrope', sans-serif;
  background-color: var(--Dark-Blue);
}
.container{
  margin: 0 20px;
}
.box{
  background-color: var(--Dark-Grayish-Blue);
  text-align: center;
  margin: 130px auto;
  border-radius: 10px;
  /* position: absolute; */
  width: 50%;
}
@media (max-width: 600px){
  .box {
    margin: 100px auto;
    width: 90%;
  }
}
.box h2{
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 15px;
  color: var(--Neon-Green);
  letter-spacing: 3px;
}
#quote{
  color: var(--Light-Cyan);
  font-size: 38px;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
}

.box > img{
  width: 350px;
}
#button{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--Neon-Green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 45.4%;
  top: 36px;
  transition: all 0.1s;
}
#button:hover{
  box-shadow: 1px 1px 50px var(--Neon-Green);
  cursor: pointer;
}
@media (max-width: 600px){
  #button{
    left: 42%;
  }
}
#button > img{
  width: 30px;
}